@mixin window-card-circles($color) {
  background: $color;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  transform: translateY(10%);
  margin-right: 0.5rem;
  margin-top: -0.2px;

  @media (max-width: 500px) {
    height: 17px;
    width: 17px;
  }
}

@mixin svg-placer($top, $bottom, $left, $right) {
  position: absolute;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
  z-index: 0;
  opacity: 0.5;
  width: 2rem;
  height: 2rem;
}
