@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Oswald:wght@300;400;500;600;700&display=swap");
@import "resets.scss";

// ========= COLORS =========
:root {
  // Main Color Palette
  --acm-pink: #ea526f;
  --acm-black: #070600;
  --acm-white: #f7f7ff;
  --acm-blue: #0093d0;
  --acm-yellow: #ffbb43;

  --acm-link: #007eb3;

  // Extra/Accent Colors
  --acm-gray: #ececf6;
  --acm-green: #8af688;
}

// ========= FONTS =========
:root {
  --font-oswald: "Oswald", sans-serif;
  --font-secondary-lato: "Lato", sans-serif;

  --font-light: 300;
  --font-regular: 400;
  --font-medium: 500;
  --font-semibold: 600;
  --font-bold: 700;
  --font-black: 900;

  --font-xs: 12px;
  --font-sm: 14px;
  --font-base: 16px;
  --font-md: 18px;
  --font-lg: 20px;
  --font-xl: 24px;
  --font-2xl: 32px;
  --font-3xl: 48px;
  --font-4xl: 64px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-oswald);
  position: relative;
  z-index: 3;
}

h1 {
  font-size: var(--font-4xl);
  font-weight: var(--font-bold);
  text-align: center;

  strong,
  span {
    color: var(--acm-blue);
    font-family: inherit;
  }

  @media (max-width: 768px) {
    font-size: var(--font-3xl);
  }

  @media (max-width: 570px) {
    font-size: var(--font-2xl);
  }
}

h2 {
  font-size: var(--font-3xl);
  font-weight: var(--font-bold);
  text-align: center;

  strong,
  span {
    color: var(--acm-blue);
    font-family: inherit;
  }

  @media (max-width: 768px) {
    font-size: var(--font-2xl);
  }

  @media (max-width: 570px) {
    font-size: var(--font-xl);
  }
}

p,
a,
button,
small,
span,
li {
  font-family: var(--font-secondary-lato);
  position: relative;
  z-index: 3;
}

a {
  color: var(--acm-link);
  transition: all 0.25s;
}
a:active {
  color: var(--acm-black);
}
a:hover {
  color: var(--acm-pink);
}
