@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&family=Oswald:wght@200;300;400;500;600;700&display=swap");

// ========= COLORS =========
:root {
  // Main Color Palette
  --acm-pink: #ea526f;
  --acm-black: #070600;
  --acm-white: #f7f7ff;
  --acm-blue: #0093d0;
  --acm-yellow: #ffbb43;

  // Extra/Accent Colors
  --acm-gray: #ececf6;
  --acm-green: #8af688;
}

// ========= FONTS =========
:root {
  --acm-font: "Oswald", sans-serif;
  --acm-secondary-font: "Lato", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--acm-font);
}
h2 {
  font-size: 64px;
  line-height: 45px;
  font-weight: 600;
}
h3 {
  font-size: 48px;
  line-height: 35px;
  font-weight: 600;
}

p,
a,
button,
small {
  font-family: var(--acm-secondary-font);
}

a {
  color: var(--acm-blue);
  transition: all 0.25s;
}
a:active {
  color: var(--acm-black);
}
a:hover {
  color: var(--acm-pink);
}

// ======== RESETS =========
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  position: relative;
  min-height: 100vh;
}

body {
  position: relative;
}
